<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		h1{color:green;}
	</style>
	<title>User Login</title>
</head>
<body>
	<h1>User Login</h1>
	<!-- this is from the tutorial -->
	<div class = "content-section">
		<form method = "POST">
			{% csrf_token %}
			<fieldset class = "form-group">
				<legend class = "border-bottom mb-4">Please sign in to your account below</legend>
				{{ form.as_p }}
			</fieldset>
			<p>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Login</button>
			</div>
			</p>
		</form>
		<div class="border-top pt-3">
			<p>
			<small class="text-muted">
				Need to create an account? <a class="ml-2" href="{% url 'register' %}">Register Here.</a>
			</small>
			</p>
		</div>
	</div>
	<!-- end tutorial code -->

</body>
</html>